.banner-min {
    padding-top: 8rem;
    padding-bottom: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom -1.5rem center;
    display: flex;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--black);
        opacity: 0.5;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgb(15, 15, 15);
        background: linear-gradient(0deg, rgba(15, 15, 15, 1) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 80%, rgba(15, 15, 15, 1) 100%);
    }

    &>.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    h1 {
        font-size: 3rem;
        text-transform: uppercase;
        color: var(--white);
        margin-bottom: 3rem;
        text-align: center;
    }
}