@media (max-width: 768px) {
    html {
        font-size: 18px;
    }

    .mb-xs-2 {
        margin-bottom: 2rem !important;
    }

    .mb-xs-4 {
        margin-bottom: 4rem !important;
    }

    .banner>.container,
    .page-section>.container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .para-text {
        font-size: 1.5rem;
    }

    p.w-75,
    p small.w-75 {
        width: auto !important;
    }

    small.w-75 {
        font-size: 1rem;
    }

    .text-center-xs {
        text-align: center;
    }
}

.bg-grey {
    background-color: var(--lighter-grey);
}

.bg-transparent {
    background-color: transparent;
}

.not-found {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-bg);
}

.page-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.sub-page {
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.page-header {
    margin-bottom: 3rem;
    text-align: center;

    h1 {
        font-size: 2rem;
        margin-bottom: 0.75rem;
        font-weight: 600;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.6rem;
        margin-bottom: 0;
    }

    @media (max-width: 768px) {
        h1 {
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.5rem;
            line-height: 1.5;
        }
    }
}

.info-item {
    text-align: center;

    img {
        margin-bottom: 1.5rem;
    }

    h5 {
        font-weight: 600;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    a {
        font-size: 1rem;
        font-weight: 500;
        color: var(--primary-red);
    }

    &.horizontal-item {
        display: flex;
        padding-right: 3rem;

        img {
            margin-bottom: 0;
            margin-right: 2rem;
        }

        .info-item-details {
            text-align: left;
        }
    }

    @media (max-width: 768px) {
        h5 {
            font-size: 1.5rem;
        }

        p,
        a {
            font-size: 1.5rem;
        }

        &.horizontal-item {
            padding-right: 0;

            img {
                margin-right: 1.5rem;
            }
        }
    }
}

.partner-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img+img {
        margin-top: 4rem;
    }

    @media (min-width: 768px) {
        flex-direction: row;

        img+img {
            margin-left: 4rem;
            margin-top: 0;
        }
    }
}

.feature-card {
    border-color: var(--black-light);
    background: transparent;
    border-radius: 0.625rem;

    .img-fluid {
        border-radius: 0.625rem 0.625rem 0 0;
        height: 200px;
        object-fit: cover;
    }

    .card-body {
        padding: 1.2rem;

        .card-title {
            font-size: 1.2rem;
            margin-bottom: .6rem;
            line-height: 1.8rem;
            font-weight: 600;
        }

        .card-text {
            font-size: 1rem;
            margin-bottom: 1rem;
        }

        a {
            font-weight: 500;
            color: var(--primary-red);
        }
    }
}