.page-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.page-header {
    margin-bottom: 4rem;
    text-align: center;

    h1 {
        font-size: 2rem;
        margin-bottom: 0.75rem;
        text-transform: uppercase;
        font-weight: 600;
    }

    p {
        font-size: 1.5rem;
        margin-bottom: 0;
    }
}

.info-item {
    text-align: center;

    img {
        margin-bottom: 1.5rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    a {
        font-size: 1rem;
    }
}